<launch>
  <arg name="detect_threshold" default="10" />

  # start this node with a similar syntax as below
  # roslaunch hw1 potential_driver.launch detect_threshold:=10
  <node pkg="hw1" type="driver.py" name="driver_auto" output="screen" args="--detect_threshold $(arg detect_threshold)"/>

</launch>