<launch>
  <arg name="fudge_factor" default="0" />
  <arg name="store_len" default="10" />

  # start this node with a similar syntax as below
  # roslaunch hw1 potential_driver.launch fudge_factor:=0 store_len:=0
  <node pkg="hw1" type="potential_driver.py" name="potential_driver_auto" output="screen" args="--fudge_factor $(arg fudge_factor) --store_len $(arg store_len)"/>
</launch>
